/JavaApplication/nbproject/private/
/JavaApplication/build/
/WebApplication/nbproject/private/
/WebApplication0/nbproject/private/
/WebApplication00/nbproject/private/
/WebApplication00/build/
/TeamProject/nbproject/private/
/WebApplication/dist/
/YchProject/nbproject/private/
/YchProject/build/
/YchProject/dist/