.buttonHeating{
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.buttonHeatingSmall{
   -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 12; 
}

.buttonLight{
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

Label{
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
}

Button{
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
}